{%  extends "TroiswaBackBundle::layout_test.html.twig" %}

{%  block titre %}Contact{{ parent() }}{% endblock %}

{% block content %}
    <p>Nouveau contenu</p>
    {{ parent() }}
{% endblock %}
{# toto #}