{%  extends "TroiswaBackBundle::layout-bo.html.twig" %}

{%  block titre %}Contact{{ parent() }}{% endblock %}

{% block titreContent %}Create produit{%  endblock %}



{% block content %}
    {% for flashMessage in app.session.flashbag.get("success_product_create") %}

        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4>	<i class="icon fa fa-check"></i> Bravo!</h4>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form(formProduct,{attr:{novalidate:"novalidate"}}) }}
{% endblock %}
