{%  extends "TroiswaBackBundle::layout-bo.html.twig" %}

{%  block titre %}Edit produit{{ parent() }}{% endblock %}

{% block titreContent %}Edit produit{%  endblock %}

{% block customMessageFlash %}
    <p>Le produit a bien été modifié</p>
{% endblock %}

{% block content %}

    {{ form(formProduct,{attr:{novalidate:"novalidate"}}) }}
    <h2><a href="{{ path("troiswa_back_product") }}">Back</a></h2>
{% endblock %}
